# Xcode
build/
DerivedData*/
*.xcuserstate
project.xcworkspace/xcuserdata/
*.xcuserdatad/
*.moved-aside
*.hmap
*.xccheckout
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store
._*
.Spotlight-V100
.Trashes

# Python tools / cache
__pycache__/
*.pyc
